*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
}

h1{
    color: #E53170;
    margin-top: 20px; 
    font-family: 'Fredoka One', cursive;   
}

.container{
    text-align: center;
    margin: auto;
    width: 70%;
}

header p{
    margin: 40px 20px 0 0;
    font-size: 12px;
}

main{
    margin-top: 30px;
}

.container-contacts{   
    width: calc(100% / 3) ;
    float: left;
    padding-right:20px ;
}

.contact{
    background-color: black;
    margin-bottom: 30px;
}

.contact-left img{
    height: 70px;
    float: left;   
}

.contact-right{
    color: white;
    font-size: 10px;
    float: left;
    margin: 10px;
    text-align: left;       
}

.clearfix::after{
    content:"" ;
    display: table;
    clear: both;
}

span , a {
    display: block;            
}

a{
    text-decoration: none;
    color: #54C4E7;
}

span.name{
    font-size: 12px;
    font-family: 'Fredoka One', cursive;  
}

.job{
    padding: 5px 0;
}
